# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.wav
*.mp3
*.ogg

/nr-audio-lib.sublime-workspace
/project/build/
/project/sublime/
/project/xcode/

